
 .terminos {
    background-color: #005;
    color: white;
   }

.terminos h1 {
    color: #ff1f71; } 
.terminos h2 {
    color: #ff1f71; 
}

.terminos p {
    color: white;
}

.termino {
    color: white;
}

.color_fondo {
    background: #005;
   
}